/tools
/local.properties
/out/*
/Neon-Kotlin/target/*
/Neon-Database-Extension/target/*
/builds
/Neon-Kotlin/SpecialSource/*
/.idea/*
/nms-snapshot/*
/Neon-Kotlin/Misc/*
/Neon-Kotlin/build/*
/Neon-Kotlin/.kotlin/*
/Neon-Kotlin/.gradle/*