# Project root
/tools/*
/local.properties
/out/*
/output builds
/.idea/*
/nms-snapshot/*
/misc/*

# Neon Kotlin
/neon-kotlin/Misc/*
/neon-kotlin/build/*
/neon-kotlin/.kotlin/*
/neon-kotlin/.gradle/*
/neon-kotlin/target/*
/neon-kotlin/neon-shared/build/*
/neon-kotlin/neon-shared/.gradle/*
/neon-kotlin/neon-extension/.gradle/*

# Neon Database Server
/neon-kotlin/neon-extension/neon-database-server/build/*
/neon-kotlin/neon-extension/neon-database-server/target/*
/neon-kotlin/neon-extension/neon-database-server/.gradle/*
/neon-kotlin/neon-extension/neon-database-server/.kotlin/*



