# Project root
/tools/*
/local.properties
/out/*
/output builds
/.idea/*
/nms-snapshot/*
/misc/*

# Neon Kotlin
/neon-kotlin/Misc/*
/neon-kotlin/build/*
/neon-kotlin/.kotlin/*
/neon-kotlin/.gradle/*
/neon-kotlin/target/*

# Neon Kotlin Shared
/neon-kotlin/neon-shared/build/*
/neon-kotlin/neon-shared/.gradle/*
/neon-kotlin/neon-shared/.kotlin/*

# Neon Kotlin Extension
/neon-kotlin/neon-extension/build/*
/neon-kotlin/neon-extension/.gradle/*
/neon-kotlin/neon-extension/.kotlin/*

# Neon Kotlin Persistence
/neon-kotlin/neon-persistence/build/*
/neon-kotlin/neon-persistence/.gradle/*
/neon-kotlin/neon-persistence/.kotlin/*

# Neon Kotlin API
/neon-kotlin/neon-api/build/*
/neon-kotlin/neon-api/.gradle/*
/neon-kotlin/neon-api/.kotlin/*

# Neon Database Server
/neon-kotlin/neon-extension/neon-database-server/build/*
/neon-kotlin/neon-extension/neon-database-server/target/*
/neon-kotlin/neon-extension/neon-database-server/.gradle/*
/neon-kotlin/neon-extension/neon-database-server/.kotlin/*



